docs/*.html linguist-language=HTML
docs/*.css linguist-language=CSS
docs/*.js linguist-language=JavaScript
*.iml
/.vscode/
/.idea/
/.idea/*
.DS_Store
/build/
/captures/
node_modules/
dist/
*.min.js
*.min.css
*.map
.env
package-lock.json
yarn.lock
